.main__advantage {
    display: flex;
    text-align: center;
    }
    
.advantage__program {
    background-image: url(img_css/advantage_program_bg.webp);
    background-color: var(--brand-color);
	background-size: cover;
    }

.program__text-header {
    margin: 0%;
    font-family: Rajdhani;
    font-size: 33px;
    color: var(--subtitle-text-color1);
    padding-top: 10%;
    }
.program__text-description {
    font-family: Roboto, sans-serif;
    color: var(--subtitle-text-color1);
    font-size: 16px;
    text-align: center;
    padding-top: 12%;
    }
.advantage__technique {
    background-image: url(img_css/advantage_technique_bg.png);
    background-size: cover;
    background-color: var(--background-color);
    }

.technique__text-header {
    font-family: Rajdhani;
    font-size: 33px;
    color: var(--brand-color);
    padding-top: 10%;
    }
.technique__text-description {
    font-family: Roboto, sans-serif;
    color: var(--subtitle-text-color2);
    padding-top: 12%;
}

.advantage__success {
    background-image: url(img_css/advantage_success.png);
    background-size: cover;
    background-color: var(--background-color-dark);
}

.advantage__text-header {
    font-family: Rajdhani;
    font-size: 33px;
    color: var(--subtitle-text-color1);
    padding-top: 10%;
}

.advantage__text-description {
    font-family: Roboto, sans-serif;
    color: var(--subtitle-text-color1);
    padding-top: 12%;
}