.main__advantage {
    display: flex;
    height: 400px;
    text-align: center;
    }
    
.advantage__program {
    background-image: url(img_css/advantage_program_bg.webp);
    background-color: var(--brand-color);
	background-size: cover;
    background-position-x: 100%, 0%;
    background-position-y: 78.62%, 0%;
    }

.program__text-header {
    margin: 0%;
    font-family: Rajdhani;
    font-size: 33px;
    color: var(--subtitle-text-color1);
    }
.program__text-description {
    font-family: Roboto, sans-serif;
    color: var(--subtitle-text-color1);
    font-size: 16px;
    text-align: center;
    }
.advantage__technique {
    background-image: url(img_css/advantage_technique_bg.png);
    background-size: cover;
    background-color: var(--background-color);
    background-position-x: 100%, 0%;
    background-position-y: 78.62%, 0%;
    }

.technique__text-header {
    font-family: Rajdhani;
    font-size: 33px;
    color: var(--brand-color);
    }
.technique__text-description {
    font-family: Roboto, sans-serif;
    color: var(--subtitle-text-color2);
}

.advantage__success {
    background-image: url(img_css/advantage_success.png);
    background-size: cover;
    background-color: var(--background-color-dark);
    background-position-x: 100%, 0%;
    background-position-y: 78.62%, 0%;
}

.success__text-header {
    font-family: Rajdhani;
    font-size: 33px;
    color: var(--subtitle-text-color1);
}

.success__text-description {
    font-family: Roboto, sans-serif;
    color: var(--subtitle-text-color1);
}