.block-team {
    text-align: center;
    padding: 100px 0;
    background-color: var(--subtitle-text-color1);
}

.team__block-name {
    font-family: 'Homemade Apple';
    font-weight: 400;
    font-size: 26px;
    color: var(--brand-color);
    text-align: center;
  }

.meet__block-name {
    display: block;
}

blok-name__divider {
    border-bottom: 2px solid var(--brand-color);
    width: 50px;
    margin: -3px 48%;
}

div.block-name aside.meet__block-name {
    font-size: 56px;
    color: #16120f;
    line-height: 1.2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    padding-bottom: 20px;
}

.meetcoacher-block {
    display: flex;
    height: 600px;
}
 
.meetcoacher-tom {
    background-image: url(../css/img_css/coashe__tombellso.png);
    background-size: cover;
    margin: 5px;
    text-align: center;
}

.meetcoacher-susan {
    background-image: url(../css/img_css/coashe__susanhooler.png);
    background-size: cover;
    margin: 5px;
    text-align: center;
}

.meetcoacher-daniel {
    background-image: url(../css/img_css/coashe__danieljackson.png);
    background-size: cover;
    margin: 5px;
    text-align: center;
}

.coache {
    height: 10em;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #fff;
    text-align: center;
}