.block-team {
    text-align: center;
    padding: 100px 0;
    background-color: var(--subtitle-text-color1);
}

.team__block-name {
    font-family: 'Homemade Apple';
    font-weight: 400;
    font-size: 26px;
    color: var(--brand-color);
    text-align: center;
}

.meet__block-name {
    display: block;
}

blok-name__divider {
    border-bottom: 2px solid var(--brand-color);
    width: 50px;
    margin: -3px 48%;
}

div.block-name aside.meet__block-name {
    font-size: 56px;
    color: #16120f;
    line-height: 1.2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    padding-bottom: 20px;
}

.meetcoacher-block {
    display: flex;
    height: 600px;
    margin-top: 60px;
    justify-content: center;
}

.meetcoacher-item {
    background-size: cover;
    margin: 5px;
    text-align: center;
    width: 370px;
    height: 460px;
    cursor: pointer;
    position: relative;
}

.meetcoacher-tom {
    background-image: url(../css/img_css/coashe__tombellso.png);
}

.meetcoacher-susan {
    background-image: url(../css/img_css/coashe__susanhooler.png);
}

.meetcoacher-daniel {
    background-image: url(../css/img_css/coashe__danieljackson.png);
}

.meetcoacher-item-text h3 {
    font-size: 36px;
    color: #fff;
}

.meetcoacher-item-text {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    transition: .5s;
}

.meetcoacher-item:hover .meetcoacher-item-text {
    display: flex;
    background: #0000009e;
}

.prl-20 {
    padding: 0 20px;
}