@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brand-color: #d62324;
    --subtitle-text-color1: #FFFFFF;
    --subtitle-text-color2: #0a0c0d;
    --background-color: rgb(241, 237, 225);
    --divider-color: #d62324;
    --background-button-color:#d62324;
    --background-form-color: rgb(30, 25, 23);
    --paragraph-text-color: rgb(112, 112, 112);
    --background-color-dark: rgb(22, 18, 15);
    --border-color: #d62324;
    --carousel-indicators-color:#d55959;
    --input-text-color:#FFFFFF8A;
    --input-border-color:rgba(241, 237, 225, 0.11);
}