@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rajdhani:wght@700&family=Roboto&display=swap');
.blog-hr {
    margin: auto;
}
.blog-red-text {
    font-family: 'Homemade Apple', cursive;
    color: red;
    font-size: 25px;
}
.blog-recent-news {
    font-family: 'Rajdhani', sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.blog-header-last-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}
.blog-images {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
}

.first-image-text {
    font-family: 'Rajdhani', sans-serif;
    
}
.blog-first-img {
    width: 400px;
}


.first-image-container {
    position: relative;
    display: flex;
}


.first-image-data {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 250px ;
    padding-left: 20px;
    font-weight: bold;
    font-size: larger;
    margin: auto;
}
.first-image-second-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding-top: 300px;
    padding-left: 20px;
    font-size: x-large;
}
.read-more-href {
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    font-size: normal;
    padding-bottom: 30px;
    padding-left: 20px;
}

.new-paragraph-special {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding-top: 330px;
    padding-left: 20px;
    font-size: x-large;
    padding-bottom: 100px;
}

