.blog__first-img {
    padding-left: 0px;
    margin: 27px;
}

.blog__second-img {
    padding-left: 0px;
    margin: 27px;
}

.blog__third-img {
    padding-left: 0px;
    margin: 27px;
}

.blog__header {
    margin: 10px;
}

.blog__last-text {
    padding: 10px;
}

.blog__special-font {
    padding: 10px;
}