.freetrial__title {
	text-align: center;
	font-family: 'Homemade Apple';
	font-size: 1.625rem;
}

.freetrial__subtitle {
	text-transform: uppercase;
	text-align: center;
	font-size: 3.5rem;
	font-family: 'Rajdhani', sans-serif;
	padding: 3%;
}

.freetrial__inner {
	width: 50%;
}

.freetrial__button {
	display: block;
	width: 10.625rem;
	height: 3.75rem;
	background: var(--subtitle-text-color2);
	color: #fff;
	text-decoration: none;
}

.freetrial__button:hover {
	color: #fff;
    background: #333;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear; 
}

.freetrial__button p {
	text-align: center;
	padding: 1.25rem;
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
}

.freetrial {
	background-image: url(img_css/free_trials_bg.webp);
	height: 37rem;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}