.header {
    background-image: url(../img/header__man-woman.png);
    height: 150vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .header__nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }

  .header__nav-logo {
    max-width: 180px;
    margin-left: 15px;
  }

  .header__nav-menu {
    display: none;
  }

 

  .header__title-subtitle {
    font-family: 'Homemade Apple';
    color: var(--brand-color);
  
  }

  .header__title-left {
    font-family: 'Rajdhani', sans-serif;
    font-size: 44px;
    line-height: 47px;
    font-weight: 700;
    color: var(--subtitle-text-color1);
    text-align: left;
    margin-top: 7rem;
  }

  @media (min-width: 750px) {
    .header__title-left {
        font-size: 65px;
        line-height: 70px;
        margin-top: 10rem;
    }
  }

  .header {
    height: 100vh;
  }

  @media (min-width: 1000px) {
    .header__title-left {
      font-size: 74px;
      line-height: 79px;
    }
}

.header__nav-menu {
    font-weight: 700;
    color: var(--subtitle-text-color1);
    font-style: 16px;
    position: relative;
    transition: 0.3s ease;
}

.header__nav-menu + .header__nav-menu {
    margin-left: 30px;
}

.header__nav-menu::after {
    content: ' ';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: var(--subtitle-text-color1);
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
}

.header__nav-menu:hover::after {
    opacity: 1;
    transition: 0.3s ease;
    width: 100%;
}

.header__nav-menu:hover {
    color: var(--brand-color);
}


.header__button-one {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.875rem;
    font-family: 'Rajdhani', sans-serif;
    color: var(--subtitle-text-color1);
}

.header__title a {
    margin-top: 15px;
    display: block;
    width: 240px;
    padding: 18px 6px;
    background: var(--background-button-color);
    color: var(--subtitle-text-color1);
    text-decoration: none;
}

.header__title a:hover {
    color: var(--subtitle-text-color1);
    background: #333;
    transition: all 0.3s linear;
    --webkit-transition: all 0.3s linear;
    --moz-transition: all 0.3s linear;
}



