.header {
  padding: 30px 0;
  background: url(../img/header__man-woman.png) center center no-repeat;
  background-size: cover;
}

.header__block {
  display: flex;
  margin: 0 15px;
  flex-flow: column;
}

.container {
  display: flex;
  padding: 35px 0;
  margin: 0 auto;
  min-width: 992px;
  align-items: center;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  z-index: 5;
}

.header__menu {
  display: flex;
  flex-direction: column;
}

.menu__link {
  text-decoration: none;
  color: var(--subtitle-text-color1);
  font-family: 'Roboto', sans-serif;
  margin: 0 20px;
}

.menu__link:hover {
  text-decoration: none;
  color: var(--brand-color);
  border-bottom: 1px dotted;
}

.header__icons a {
  margin: 0 10px;
}



/*
.header__menu, .header__icons {
  display: none;
}
*/

.burger {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  z-index: 5;
}

.burger__menu {
  display: none;
  position: fixed;
  max-width: 100vw;
  max-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  background: #000;
  font-size: 16px;
  padding-top: 170px;
  justify-content: center;
  align-items: center;
}

.burger__menu-active {
  display: block !important;
}

.burger span {
  background-color: #fff;
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 3px;
  transition: .4s;
  position: absolute;
  top: 9px;
}

.burger::before {
  content: '';
  display: block;
  background-color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 3px;
  position: absolute;
  top: 0;
}

.burger::after {
  content: '';
  display: block;
  background-color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
}

.burger.active::before {
  transition: .4s;
  transform: rotate(315deg);
  top: 9px;
}

.burger.active::after {
  transition: .4s;
  transform: rotate(-135deg);
  top: 9px;
}

.active span {
  transition: .4s;
  display: none;
}


.header__title {
  display: flex;
  flex-flow: column;
  margin: 300px 0;
}

.header__title-subtitle {
  font-family: 'Homemade Apple';
  font-size: 14px;
  color: var(--brand-color);
}

.header__title-left span {
  font-family: 'Rajdhani', sans-serif;
  font-size: 60px;
  color: var(--subtitle-text-color1);
}

h1 {
  margin: 20px 0;
}

h1 span {
  width: 100%;
}

.header__button-one {
  width: 200px;
  background-color: var(--brand-color);
  padding: 15px 0;
  border: none;
  color: var(--subtitle-text-color1);
  text-transform: uppercase;
}

.header__button-one:hover {
  background-color: var(--subtitle-text-color1);
  color: var(--subtitle-text-color2);
  transition: 0.4s;
  cursor: pointer;
}

@media (max-width: 991px) {
  .container {
    min-width: 100%;
    padding: 0 32px;
  }

  .burger {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__icons {
    display: none;
  }
}