.header {
  min-height: 1200px;
  padding: 0 0 180px;
  background: url(../img/header__man-woman.png) center center/ cover no-repeat;
}
@media (min-width: 766px) {
  .container {
      display: flex;
      margin-left: 4%;
      padding: 50px 0 25px 0;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header__top {
  padding-left: 16%;
}

.header__top-content .logo {
  height: auto;
  margin: auto;
  width: 130px;
}

.header__menu {
  padding: 60px 0 0 0;
}

nav.header__navbar {
  position: absolute;
  padding-left: 26%;
}

.header__icons {
  position: absolute;
  padding-left: 85%;
}