.pricing {
	background-color: var(--background-color);
}

.pricing-content {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.pricing-title {
	font-family: 'Homemade Apple';
	font-weight: 400;
	font-size: 26px;
	color: var(--brand-color);
	text-align: center;
	letter-spacing: 1px;
}

.pricing-sub-title {
	font-family: Rajdhani;
	font-size: 47px;
	text-align: center;
	letter-spacing: normal;
	text-transform: uppercase;
	position: relative;
}

.pricing-sub-title::after {
	content: '';
	width: 50px;
	height: 2px;
	background-color: var(--brand-color);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.pricing-list {
	display: flex;
 align-items: stretch;
 justify-content: center;
 list-style: none;

}
.pricing-list > li {
  flex-basis: 33%;
	padding: 30px 15px 0;
}

.pricing-item {
	background: var(--subtitle-text-color1);
	padding: 40px 37px;
	box-shadow: 0 4px 13px 0 rgb(28 30 30 / 18%);
	text-align: center;

}

.pricing-item-title {
	text-transform: uppercase;
	font-family: Rajdhani;
	font-size: 23px;

}

.pricing-item-price {
	font-family: Rajdhani;
	font-size: 47px;
	color: var(--brand-color);
	position: relative;
	margin: 0;
	padding: 0;
}

.pricing-item-price::after {
	content: '';
	width: 50px;
	height: 2px;
	background-color: var(--brand-color);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.pricing-time {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 4px;
}

.pricing-item-list li {
	font-family: Roboto;
	font-size: 16px;
	color: #707070;
	text-align: left;
	line-height: 24px;
	margin-bottom: 16px;


}

.pricing-item-list li.un-checked {
	list-style-image: url(../img/un-checked.svg);

}

.pricing-item-list li.checked {
	list-style-image: url(../img/checked.svg);

}

.pricing-button {
	background-color: var(--brand-color);
	color: #ffff;
	border: none;
	margin: 10px;
	padding: 22px 52px;
	box-shadow: 0 4px 14px 0 rgb(45 45 45 / 26%);
	font-size: 12px;
	text-transform: uppercase;
}
