.blog {
    position: relative;
}
.blog-main {
    display: flex;
    justify-content: center;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.blog__header {
    border-bottom: 2px solid var(--brand-color);
    width: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
.blog__container {
    border: 1px solid #C8C8C8;
    margin-left: 5%;
    margin-right: 5%;
}
.blog__container-content {
    display: flex;
    padding: 30px;
}
.blog__container-header {
    text-align: center;
}
.blog__container-content-box {
    border: 1px solid #C8C8C8;
    margin-left: 20px;
}