@import url(common.css);
@import url(testimonials-contacts.css);
@import url(blog.css);
@import url(footer.css);
@import url(schedule.css);
@import url(pricing.css);
@import url(services_card.css);
@import url(free_trial.css);
@import url(header.css);
@import url(advantages.css);
@import url(about-us.css);

.blog__first-img {
    padding: 20px;
    margin: 20px;
}

.blog__second-img {
    padding: 20px;
    margin: 20px;
}

.blog__third-img {
    padding: 20px;
    margin: 20px;
}

.blog__header {
    margin: 10px;
}

.blog__last-text {
    padding: 10px;
}

.blog__special-font {
    padding: 10px;
}

/* finished*/
