/* additional formatting Lesia*/
*{box-sizing: border-box;
    margin:0;
    padding:0;}
/*finished*/

/*footer css*/
.footer {
    background-color: #16120f;
    padding-top: 0;
    padding-bottom: 0;
    /*display: inline-block;
    max-height: 100%;*/
}

@media (min-width: 851px) {
    .footer__container {
        border-bottom: 0.1em solid #323232;
        display: flex;
        width: 1170px;
        margin-right: 307px;
        margin-left: 307px;
        padding: 30px 0;
    }

    .footer__sidebar-content .logo {
        width: 126px;
        height: auto;
        margin: auto;
    }

    .footer__row {
        max-width: 67%;
        width: calc(100% + 20px);
        padding: 35px 0 0 563px;
    }

    .sub__footer {
        background-color: #16120f;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
    }

    .sub__footer_left-block {
        padding-left: 307px;
    }

    .rights,
    .copiright {
        color: #a9a9a9;
        letter-spacing: .1em;
        font-size: 14px;
        line-height: 1.4;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 500px;
    }

    .rights {
        margin-left: 300px;
        display: contents;
    }

    .sub__footer_right-block {
        width: 150px;
        padding-left: 409px;
    }

    .footer__menu a {
        color: white;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 550;
        margin-left: 20px;
    }

    .footer__menu a:hover {
        color: #d62324;
    }
    nav.footer__menu {
        position: absolute;
    }
}

/*footer mobile*/
@media (max-width: 850px) {
    img.logo {
        width: 34%;
        padding: 50px 34%;
    }

    .footer__row {
        max-width: 39%;
        padding: 35px 0 25px 28%;
        text-align: center;
        line-height: 3;
    }

    .footer__menu a {
        color: white;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 550;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .footer__container {
        border-bottom: 0.1em solid #323232;
    }

    .rights,
    .copiright {
        color: #a9a9a9;
        letter-spacing: .1em;
        font-size: 14px;
        line-height: 1.4;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        margin: 5px 0 10px 10px;
        text-align: center;
    }

    .sub__footer {
        padding-bottom: 10px;
    }
}

/*footer mobile end*/

/* Testimonials Lesia Derkach*/

.main__testimonials {
    background-color: rgb(241, 237, 225);
    width: 100%;
    margin: 0;
    padding: 0;
}

.testimonials__title {
    color: #d62324;
    font-family: 'homemade apple';
    font-size: 26px;
    margin: 0;
    border: 0;
    text-align: center;
    margin: 0;
    border: 0;
}

.testimonials__subtitle {
    color: #16120f;
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.testimonials__subtitle::after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    position: relative;
    background-color: #d62324;
    bottom: 45%;
    left: 48%;
    margin-top: 20px;
}


.testimonials__introduction-phrase {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.slideshow-container__exponent-photo {
    display: flex;
    position: relative;
    left: 45.4%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    justify-content: center;
    object-fit: cover;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.slideshow-container__exponent-name {
    font-family: 'Rajdhani', sans-serif;
    color: #d62324;
    text-align: center;
}


.slideshow-container__exponent-feedback {
    letter-spacing: .05em;
    color: #707070;
    text-transform: none;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d55959;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.date__pub {
    letter-spacing: .1em;
    font-weight: bold;
    color: #0a0c0d;
}

.fa {
    text-decoration: none;
    color: #0a0c0d;
}

.fa:hover {
    color: #d62324;
}

/* finished*/